<footer class="footer_proto">
<a class="subscribe_proto icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_proto">Subscribe!</span></a>
<div class="footertext_proto">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</div>
</footer>
